body
{
    color:blue
    text-align: center;
HEAD
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin: 0;   

    background-color: rgb(225, 225, 235);
cabecera
    font-family: 'Arial', sans-serif;
}
